@use '../presets' as *;
@use '../mixins' as *;

.navbar {
  @include md-min {
    margin-bottom: 144px;
  }

  @include md {
    margin-bottom: 60px;
  }

  &__list {
    flex-wrap: wrap;
    gap: 0 $gap-md;
    margin-left: calc($gap-sm * -1);

    @include md-min {
      display: flex;
    }

    @include md {
      display: none;
      justify-content: center;
    }

    &.active {
      display: flex;
    }
  }

  &__link {
    position: relative;
    display: block;
    letter-spacing: $letter-spacing;
    padding: $gap-sm;
    text-transform: uppercase;

    &--active {
      color: $color-primary;
      font-weight: $font-weight-medium;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      left: calc($gap-sm * -1);
      right: calc($gap-sm * -1);
      height: 3px;
      background-color: $color-primary;
      border-radius: 3px;
      transform: scaleX(0);
      transform-origin: center;
      opacity: 0;
      transition: all 0.3s ease-out;
    }

    &:hover::after {
      transform: scaleX(1);
      opacity: 1;
    }
  }

  &__btn {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 50px auto;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;

    @include md-min {
      display: none;
    }

    @include md {
      display: block;
    }

    span {
      display: block;
      position: absolute;
      height: 9px;
      width: 100%;
      background: $color-primary;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
        top: 0px;
      }

      &:nth-child(2) {
        top: 18px;
      }

      &:nth-child(3) {
        top: 36px;
      }
    }

    &.active span {
      &:nth-child(1) {
        top: 18px;
        transform: rotate(135deg);
      }

      &:nth-child(2) {
        opacity: 0;
        left: -60px;
      }

      &:nth-child(3) {
        top: 18px;
        transform: rotate(-135deg);
      }
    }
  }
}
